#remembertokenbox.modalbox
  .modal-header
    %h1
      Confirmaci贸n usuario
    %a.remembertokenbox-close.close-btn{href: '#', rel: 'nofollow'}
      X

  .modal-content
    .wrapper
      .centered
        %h3
          Ingrese su direcci贸n de email
        %h2
          Le enviemos un enlace con el activar su cuenta de usuario
      %form#remembertokenbox-form{method: 'post', action: '#', data: {url: @config.confirmation_url }}
        .email
          %label{for: '#remembertokenbox-email'} Correo electr贸nico
          .help-inline
          %p
            %input#remembertokenbox-email.form-control{autofocus: 'autofocus', name: 'user[email]', placeholder: 'Correo electr贸nico', size: '30', title: 'Obligatorio', type: 'text', value: ''}

        .other
          .help-inline
        %p
          %button.btn.btn-success.btn-large.btn-block{type: 'submit'}
            Enviar email