#remembertokenbox.modalbox
  .modal-header
    %h1
      Confirmación usuario
    %a.js-close.close-btn{href: '#', rel: 'nofollow', title: "Cerrar"}
      %i.icon-error

  .confirm-email-again-content

    %form#remembertokenbox-form{method: 'post', action: '#', data: {url: @config.confirmation_url }}

      %h2
        Ingresa tu dirección de email
      .additional-note
        Te enviemos un enlace con el activar tu cuenta de usuario

      .email
        %label{for: '#remembertokenbox-email'}
        .help-inline
        %p
          %input#remembertokenbox-email.form-control{autofocus: 'autofocus', name: 'user[email]', placeholder: 'Correo electrónico', size: '30', title: 'Obligatorio', type: 'text', value: ''}

      .other
        .help-inline
      %p
        %button.btn.btn-success.btn-large.btn-block{type: 'submit'}
          Enviar email