#forgotpassbox.modalbox
  .modal-header
    %h5
      Reestablecer contraseña
    %a.js-close.close-btn{href: '#', rel: 'nofollow', title: "Cerrar"}
      %i.icon-error

  .reset-password-content

    %form#forgotpassbox_form{method: 'post', action: '#', data: {url: @config.reset_password_url}}

      %h6
        Introduce tu dirección de email
      .additional-note
        Te enviaremos un email con el que podrás restablecer tu contraseña

      .email
        -# %label{for: '#forgotbox-email'} Correo electrónico
        .help-inline
        %p
          %input#forgotpassbox-email.form-control{autofocus: 'autofocus', name: 'user[email]', placeholder: 'Correo electrónico', size: '30', title: 'Obligatorio', type: 'text', value: ''}

      .other
        .help-inline
      %p
        %button.btn.button-green.btn-block{type: 'submit'}
          Recuperar contraseña