#forgotpassbox.modalbox
  .modal-header
    %h1
      Reestablecer contraseña
    %a.forgotpassbox-close.close-btn{href: '#', rel: 'nofollow'}
      X

  .modal-content
    .wrapper
      .centered
        %h3
          Ingrese su dirección de email
        %h2
          Le enviemos un enlace con el que restablecer su contraseña
      %form#forgotpassbox_form{method: 'post', action: '#', data: {url: @config.reset_password_url}}
        .email
          %label{for: '#forgotbox-email'} Correo electrónico
          .help-inline
          %p
            %input#forgotpassbox-email.form-control{autofocus: 'autofocus', name: 'user[email]', placeholder: 'Correo electrónico', size: '30', title: 'Obligatorio', type: 'text', value: ''}

        .other
          .help-inline
        %p
          %button.btn.btn-success.btn-large.btn-block{type: 'submit'}
            Recuperar contraseña