#loginbox-sign-in
  .facebook-access-wrapper
    = render 'fancy_login/sign_in_facebook' if @config.user["has_facebook_login"]
  -# .google-access-wrapper
  -#   = render 'fancy_login/sign_in_google' if @config.user["has_google_login"]


  %form#login_form{method: 'post', action: '#', data: {url: @config.sign_in_url}}
    .or-line o bien, con tu email

    .email.form-group
      .help-inline
      %input#loginbox-email.form-control{ name: 'user[email]', placeholder: 'Correo electrónico', size: '30', title: 'Obligatorio', type: 'text', value: ''}

    .password.form-group
      .help-inline
      %input#loginbox-pass.form-control{name: 'user[password]', placeholder: 'Contraseña', maxlength: '30', type: 'password'}

    - if @config.user["has_reset_password"]
      .forgot-password-wrapper
        %a.forgot-pass{href: '#', rel: 'nofollow'}
          Recupera tu contraseña

    .other
      .help-inline


    %button.btn.button-green.btn-block{type: 'submit'}
      Entrar


  .alternative-action.additional-note
    ¿No estás registrado?
    %a.js-switch-action{href: '#signup', rel: 'nofollow', title:"Crea tu cuenta de Kelisto"}
      Regístrate ahora
    .micro-note
      (Tardarás menos de un minuto)

