#loginbox-sign-up
  %form#register_form{method: 'post', action: '#', data: {url: @config.sign_up_url}}
    %h2
      Crea la cuenta
    .email.form-group
      .help-inline
      %input#register-email.form-control{autofocus: 'autofocus', name: 'user[email]', placeholder: 'Correo electrónico', size: '30', title: 'Obligatorio', type: 'text', value: ''}

    .password.form-group
      .help-inline
      %input#register-pass.form-control{name: 'user[password]', placeholder: 'Contraseña', maxlength: '30', type: 'password'}

    .other
      .help-inline

    #terms
      .help-inline
      .additional-note
        = check_box_tag "loginbox-terms-and-conditions", 0, nil, :id => "loginbox-terms-and-conditions"
        = label_tag "loginbox-terms-and-conditions" do
          Confirmo que he leído y acepto la
          %a{:href => "/politica-de-privacidad"} política de privacidad

    %button.btn.button-green.btn-large.btn-block{type: 'submit'}
      Crear cuenta

  .facebook-access-wrapper
    .additional-note
      O regístrate con tu cuenta de Facebook
    = render 'fancy_login/sign_up_facebook' if @config.user["has_facebook_login"]

  .alternative-action.additional-note
    ¿Ya tienes la cuenta creada?
    %br
    %a.js-switch-action{href: '#signin', rel: 'nofollow', title: "Entra en Kelisto con tu cuenta"}
      Entra aquí


  -# .additional-note
  -#   dsfg sdfgs dfgsdfgs dfgs fsdfgsdfg sdfgsdfg sdfgsfgsdfg sdfgsdfg sdfgsdfgsfgsdfgsfg sd
    -# Formando parte de
    -# = @config.app_name
    -# podrás
    -# %strong recuperar comparativas de precios,
    -# entrar en la
    -# %strong comunidad, participar en el foro
    -# y tener
    -# %strong acceso a ofertas personalizadas