#loginbox-sign-up.loginbox-col
  %h2
    ¿Todavía no tienes una cuenta?


  %form#register_form{method: 'post', action: '#', data: {url: @config.sign_up_url}}
    .email.form-group
      .help-inline
      %input#register-email.form-control{autofocus: 'autofocus', name: 'user[email]', placeholder: 'Correo electrónico', size: '30', title: 'Obligatorio', type: 'text', value: ''}

    .password.form-group
      .help-inline
      %input#register-pass.form-control{name: 'user[password]', placeholder: 'Contraseña', maxlength: '30', type: 'password'}

    .other
      .help-inline

    #terms
      .help-inline
      .additional-note
        = check_box_tag "loginbox-terms-and-conditions", 0, nil, :id => "loginbox-terms-and-conditions"
        = label_tag "loginbox-terms-and-conditions" do
          Confirmo que he leído y acepto la
          %a{:href => "/politica-de-privacidad"} política de privacidad

    %button.btn.btn-success.btn-large.btn-block.form-control{type: 'submit'}
      Crear cuenta

  .facebook-access-wrapper
    .additional-note
      O regístrate con tu cuenta de Facebook
    = render 'fancy_login/sign_up_facebook' if @config.user["has_facebook_login"]

  .additional-note
    Formando parte de
    = @config.app_name
    podrás
    %strong recuperar comparativas de precios,
    entrar en la
    %strong comunidad, participar en el foro
    y tener
    %strong acceso a ofertas personalizadas