#loginbox-sign-in.loginbox-col
  %h2
    = "Accede a #{@config.app_name}"

  %form#login_form{method: 'post', action: '#', data: {url: @config.sign_in_url}}
    .email.form-group
      .help-inline
      %input#loginbox-email.form-control{autofocus: 'autofocus', name: 'user[email]', placeholder: 'Correo electrónico', size: '30', title: 'Obligatorio', type: 'text', value: ''}

    .password.form-group
      .help-inline
      %input#loginbox-pass.form-control{name: 'user[password]', placeholder: 'Contraseña', maxlength: '30', type: 'password'}

    .other
      .help-inline


    %button.btn.btn-success.btn-block.form-control{type: 'submit'}
      Iniciar Sesión
    - if @config.user["has_reset_password"]
      .forgot-password-wrapper
        %a.forgot-pass{href: '#', rel: 'nofollow'}
          ¿Has olvidado tu contraseña?


  .facebook-access-wrapper
    .additional-note
      O accede con tu cuenta de Facebook
    = render 'fancy_login/sign_in_facebook' if @config.user["has_facebook_login"]
