@import "compass";
@import "mediaqueries";
@import "animate";
@import "buttons";

$purple:  #7B1C76;
$purple-text: #861f82;
$lightgray: #f2f2f2;
$red-error-text: #ea5958;
$secondary: #eeaf00;//orange
$blue:          #79c8f0;
$modal-background: #f8f9fa;

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

.js-top-notification{
  position: absolute;
  top:0;
  left:0;
  display: none;
  padding: 2em;
  width:100%;
  color: #fff;
  z-index: 100;
  background: rgba($blue, 0.9);
  i{
    font-size: 1.2em;
    margin-right: 1em;
  }

}

.modalbox{
  @include pie-clearfix;
  width: 100%;
  height: 100%;
  @include border-radius(4px 4px 0px 0px);
  background: $modal-background;

  // font: normal 1.2em/1em 'Open-Sans', Helvetica, sans-serif;

  .modal-header{
    position:relative;
    width: 100%;
    overflow: hidden;

    @include border-radius(4px 4px 0px 0px);
    background: $blue;
    h5{
      width:80%;
      color: #fff;
      font: normal 1.5em/1em 'Raleway', Helvetica, sans-serif;
      font-weight: 200;
      padding:0;
    }

    .close-btn{
      position: absolute;
      right:0;
      top: 0;
      width: 2em;
      height: 3em;
      padding-top: .6em;
      background: shade($blue,20);
      color: #fff;
      font-size: 1.6em;
      line-height: 1em;
      text-align: center;

      &:hover {
        text-decoration: none;
        color: tint($blue,10);
        // background: shade($blue,30);
      }
    }
  }

  .login-content{

    #loginbox-sign-in{

    }
    #loginbox-sign-up{

    }
  }

  .reset-password-content, .confirm-email-again-content{
    input, button{
      margin: .5em auto;
    }
  }

  .additional-note{
    color: shade($lightgray,35);
    font-size: .9em;
  }
  
  .micro-note{
    @extend .additional-note;
    font-size: .7em;
    font-style: italic;
    text-align: center;
    padding: 0 .5em;
  }

  .or-line {
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
    margin-bottom: 1.5em;
    color: shade(#fff,40);
    font-size: 0.85em;
    &:before {
      width: 120px;
      height: 10px;
      background: $modal-background;
      content: '';
      margin: -5px 0 0 -60px;
      left: 50%;
      position: absolute;
      top: 50%;
      z-index: -1;
    }
    &:after {
      border-bottom: 1px solid shade($lightgray,8);
      content: '';
      display: block;
      position: absolute;
      top: 49%;
      width: 100%;
      z-index: -2;
    }
  }

  form{
    // background: shade(#fff,1);
    padding: .8em 1.5em;
    border-bottom: 1px shade($lightgray,8) solid;
    input{
      @include input-placeholder {
        color: shade(#e5e5e5,10);
        font-style: italic;
        font-size: 1em;
      }
      &[type=text],&[type=password]{
        border: 1px tint($blue, 50) solid;
      }
    }
    button{
      padding: 1em;
    }
  }
  .forgot-password-wrapper{
    position:relative;
    top: -.8em;
    text-align: right;
  }
  .forgot-pass {
    margin: 1em auto;
    font-size: .9em;
  }
  .facebook-access-wrapper{
    margin: 1em auto;
    padding: 0 1em;
    text-align: center;
    .additional-note {
      padding-bottom: 0.5em;
    }
  }
  .google-access-wrapper {
    margin: 1em auto;
    padding: 0 1em;
    text-align: center;
  }
  .alternative-action{
    width: 100%;
    padding:1em;
    text-align: center;
    background: #fff;
    a{
      margin: 1em auto;
      display: block;
      text-decoration: underline;
      @include animate(fadeInUp, 1s, .6s, ease, 1);
    }
  }


  .facebook-notice, .fancybox-notice {
    display: none;
    color: white;
    background-color: $blue;
    padding: 1em;
    margin: .5em 0.5em 0.5em 0.5em;
    &.error {
      display: block;
      background-color: $red-error-text;
      clear: both;
      width: auto;
    }
    a.resend-email-link{
      cursor: pointer;
      background: #fff;
      padding: 0 .2em;
      @include border-radius(.4em);
      color: $blue;
    }
  }


  .help-inline {
    display: none;
  }

  label {
    font-size: 1em;
    font-weight: normal;
  }

  .error {
    .help-inline {
      display: block;
      font-size: .9em;
      font-variant: italic;
      color: $red-error-text;
    }

    input {
      border-color: $red-error-text;
      color: $red-error-text;
    }
  }

  #terms{
    margin-bottom: 1em;
    input, label{
      display: inline;
      margin:0;
      font-size: .9em;
    }
  }


  .resend-token-link{
    text-decoration: underline;
    cursor: pointer;
  }


}//modal-box