@import "compass";                    //General compass mixins

$purple:  #7B1C76;
$purple-text: #861f82;
$lightgray: #f2f2f2;
$red-error-text: #B94A48;
$secondary: #eeaf00;//orange


#loginbox.modalbox {
  width: 100%;
  height: 100%;
  background: $lightgray;
  @include pie-clearfix;
  @include border-radius(4px 4px 0px 0px);

  .spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    background: rgba(0,0,0,.5) url(/assets/fancybox_loading.gif) center center no-repeat;
    z-index: 8000;
    .hidden {
      z-index: -100;
    }
  }

  .facebook-notice, .fancybox-notice {
    display: none;
      background-color: $red-error-text;
      color: white;
      padding: 0.5em;
      margin: -0.5em 0.5em 0.5em 0.5em;
      @include border-radius(4px);

    &.error {
      display: block;
      clear: both;
      width: auto;
    }
  }
  .modal-header{
    position:relative;
    height: 4.5em;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1.45em;
    @include border-radius(4px 4px 0px 0px);
    background: $purple;
    h1{
      width:80%;
      color: #fff;
      font: normal 2.6em/2.6em Arial, Helvetica, sans-serif;
      padding:0;
      margin:-0.4em auto auto .6em;
    }

    .close-btn{
      display: block;
      position: absolute;
      right:0.9em;
      top:0;
      color:#fff;
      width:20px;
      height:40px;
      font: normal 2em/2em Arial, Helvetica, sans-serif;

      &:hover {
        text-decoration: none;
        color: $secondary;
      }
    }
  }

  .centered {
    text-align: center;
  }

  h2 {
    font: normal 2.2em Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0 0 0.3em 0;
  }

  .loginbox-col{
    width: 47%;
    padding:.2em .6em;
  }

  #loginbox-sign-in{
    margin-left:0.8em;
    float: left;
    background:#fff;

    button[type='submit'] {
      background-color: $purple-text;
      border-color:$purple-text;
      text-transform: none;
      font-size: 0.8em;
      padding: 0 2.5em;
      height: 3.8em;
    }
  }

  #loginbox-sign-up{
    margin: 0 1.2em 1em 0;
    float: right;

    form {
      margin: 0 1em 0 1em;
    }
  }

  &#forgotpassbox, &#remembertokenbox {
    .wrapper {
      margin: 1em 3.3em;
      padding: 1.3em 15%;
      background-color: white;

      h3 {
        font-size: 1.5em;
      }

      h2 {
        font-size: 1.4em;
      }
    }
  }

  button {
    background-image:none;
  }

  .btn-facebook {
    background-color: #578ee8;
    height: 3.5em;
    padding: 1em 1em 0 3em;
  }

  .help-inline {
    display: none;
  }

  label {
    font-size: 1em;
    font-weight: normal;
  }

  .error {
    .help-inline {
      display: block;
      color: $red-error-text;
    }

    input {
      border-color: $red-error-text;
      color: $red-error-text;
    }
  }

  #terms{
    input, label{
      display: inline;
      margin:0;
      font-size: .9em;
    }
  }

  .forgot-pass {
    color: $purple-text;
    font-size: 0.8em;
    margin-left: 1em;
  }

  .remember-token-link{
    display: none;
  }
}



